
@model RWA.Models.ViewModel.SelectTownVM

@{
    ViewBag.Title = "SelectGrad";

    SelectList ddlGradovi = new SelectList(
        items: Model.Towns,
        dataTextField: "Naziv",
        dataValueField: "IDGrad");

    SelectList ddlDrzave = new SelectList(
        items: Model.Countries,
        dataTextField: "Naziv",
        dataValueField: "IDDrzava");
}

<div class="jumbotron">
    @using (Html.BeginForm(controllerName: "Customer", actionName: "SelectTown", htmlAttributes: new { id = "formDrzava" }, routeValues: null, method: FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label(expression: "IDDrzava", labelText: "Drzava")
            @Html.DropDownList(
                optionLabel: "--- odaberi ---",
                selectList: ddlDrzave,
                name: "IDDrzava",
                htmlAttributes: new { @class = "form-control" })
        </div>
    }
    @using (Html.BeginForm(controllerName: "Customer", actionName: "GetFilteredCustomers", htmlAttributes: new { id = "formGrad" }, routeValues: null, method: FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label(expression: "IDGrad", labelText: "Grad")
            @Html.DropDownList(
                 optionLabel: "--- odaberi ---",
                 selectList: ddlGradovi,
                 name: "IDGrad",
                 htmlAttributes: new { @class = "form-control" })
        </div>
    }
</div>


@section scripts{
    <script>
        $('#IDDrzava').change(e => $('#formDrzava').submit());
        $('#IDGrad').change(e => {
            if(e.target.value !== '')
                $('#formGrad').submit();
        });
    </script>

}

